/* CSS Document */



.information{
	width:auto;
	height:150px;
	border-top:1px solid #efeff3;
	margin:0 auto;
	text-align:center;	
}
#jieshao {
	font-size:38px;
	color:#0bba98;
	margin-top:55px;
}



.forgot_container{
	background-color:#efeff3;
	width:auto;
	height:500px;
	padding-top:50px;
}


.forgot_main{
	width:960px;
	height:400px;
	margin:0 auto;
	background-image:url(.../image/16_col.gif);
	background-repeat:repeat-y;
}
.forgot_text{
	width:450px;
	height:300px;
	float:left;
}

.forgot_row_text_left{
	margin-right:45px;
	
}


.forgot_row_submit{
	clear:left;
}

.forgot_input_submit{
	width:160px;
	height:50px;
	background-color:#02daaf;
	border:none;
	font-size:20px;
	font-weight:200;
	color:#ffffff;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}

.forgot_input_text{
	width:435px;
	border:none;
	clear:left;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size:24px;
    padding:17px 15px;
}


.forgot_input_text_check{
	width:200px;
	border:none;
	clear:left;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size:24px;
    padding:17px 15px;
	float:left;
}

#biaoQian{
	font-size:20px;
	color:#9a9a9a;
	padding-bottom:10px;
	padding-left:15px;
}

input[type="submit"]:hover {
	background-color:#0bba98;
}

.forgot_row{
	margin-top:30px;
}

.forgot_text_left_b_b{
	padding-top:8px;
	float:right;
}

.forgot_text_right_b{
	margin-top:96px;
	width:450px;
	height:180px;
}
