
/* CSS Document */
/* CSS Document */



a:link {
	color:#7D7D7D;
}
a:link:hover {
	text-decoration:underline;
	color:#22cacc;
}
a:visited {
	color:#7D7D7D;
}
#page{
	margin:0 auto;
	padding-top:5px;
	height:auto;
	background-color:#f9f9f9;
	padding-bottom:50px;
}

.page_container{
	margin:20px auto;
	width:1200px;
}

.left_container{
	width:220px;
	height:1000px;
	background-color:#3CC;
	margin-right:10px;
	float:left;
}

.search_container{
	height:auto;
	overflow:auto;
	width:968px;
	background-color:#F9F9F9;
	padding-bottom:20px;
}

.search_box{
	margin-top:10px;
	padding-left:190px;
	margin-bottom:30px;
}

.input_box{
	clear:left !important;
	font-size:18px;
	padding:10px 10px;
	background-color:#fff;
	border:2px solid #22cacc;
	margin-top:0px;
	width:516px;
}

.input_box:focus{
	border:2px solid #22b5b7;
}


.search_button{
	font-size:18px;
	padding:10px 35px;
	background-color:#22cacc;
	border:none;
	margin-top:0px;
	color:#fff;
}


.search_button:hover{
	background-color:#22b5b7;
}


/*下拉菜单*/

.order{
	margin:20px auto;
	height:20px;
}

.right_container{
	background-color:#f7f7f7;
	width:948px;
	height:40px;
	position:absolute;
	margin-left:10px;
}


.menuHeader
{
	float:left;
	text-align:center;
	z-index:14;
	position:absolute;
}

.price{
	left:92px;
}



.date{
	left:184px;
}


.biaoqian a{
	padding:11px 5px;
	width:80px;
	font-size:14px;
	border-right:1pt solid #e5e5e8;
	color:#9a9a9a;
	border-bottom:1px solid #e5e5e8;
	border-top:4px solid #e5e5e8;
	display:block;

	
}

.moren p{
	padding:0px !important;
	width:auto;
	border-right:0pt solid #e5e5e8;
	color:#9a9a9a;
	border-bottom:0px solid #e5e5e8;
	border-top:0px solid #e5e5e8;
}

.moren p:hover{
	color:#22cacc;
	border-top:0px solid #22cacc;
	background-color:#FFF;
}

.biaoqian a:hover,linked{
	color:#22cacc;
	border-top:4px solid #22cacc;
}


.biaoqian{
	padding:11px 5px;
	width:80px;
	font-size:14px;
	border-right:1pt solid #e5e5e8;
	color:#9a9a9a;
	border-bottom:1px solid #e5e5e8;
	border-top:4px solid #e5e5e8;
}

.biaoqian:hover{
	color:#22cacc;
	border-top:4px solid #22cacc;
	background-color:#FFF;
}

.menuItem > li
{
	padding:11px 5px;
	background-color:#f7f7f7;
	border-bottom:2px solid #fff;
	color:#9a9a9a;
	font-size:14px;
}

.menuItem a{
	color:#9a9a9a;
	padding:11px 5px;
	background-color:#f7f7f7;
	border-bottom:2px solid #fff;
	color:#9a9a9a;
	font-size:14px;
}

.menuItem a:hover{
	color:#22cacc !important;
}


/*container*/




.show_content{
	margin-top:20px;
	margin-left:15px;
	float:left;
	background-color:#fff;
	width:200px;
	height:302px;
	border:1px solid #efeff3;
	padding:5px;
	overflow:hidden;
	
}

#container{
	
}



/*每一个小框*/

.show_content img{
	margin-left:10px;
	position:relative;
}


.show_content:hover{
	border:1px solid #22cacc;
}

.content_infor_top{
	width:auto;
	background-color:#3CF;
	margin:0px;
	height:200;
}

.content_infor{
	width:auto;
	height:302px;
	background-color:#fafafa;
	position:relative;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)"; /* ie8  */
    filter:alpha(opacity=95);    /* ie5-7  */
    opacity: 0.95;    /* css standard, currently it works in most modern browsers  */
	
	
}

.content_mingzi a{
	border-top:1px solid #efeff3;
	padding-top:5px;
	margin-top:5px;
	padding-left:10px;
	padding-right:1px;
	color:#949494;
	font-weight:bold;
	height:40px;
	overflow:hidden;
	line-height:140%;
	font-size:14px;
	display:block;
	
}


.content_a{
	width:110px;
	height:40px;
	margin-top:5px;
	float:left;
}



.content_mingzi a:hover{
	color:#22cacc;
	text-decoration:underline;
	
}

.content_jiage1{
	padding-left:10px;
	color:#949494;
	font-weight:bold;
	float:left;
	font-size:14px;
}

.content_jiage2{
	color:#fd6c00;
	font-weight:900;
	font-size:14px;

}



/*hidden*/

.infor_hidden{
	width:220px;
	height:150px;
	margin-top:10px;
	padding-top:10px;
	border-top:1px solid #efeff3;
}

.content_zuozhe1{
	padding-left:10px;
	color:#949494;
	font-weight:bold;
	float:left;
	font-size:14px;
}


.content_zuozhe2 a{
	color:#949494;
	font-weight:bold;
	float:left;
	font-size:14px;
}

.content_zuozhe2 a:hover{
	color:#22cacc;
}

.content_shijian{
	padding-left:10px;
	color:#949494;
	font-weight:bold;
	font-size:14px;
	padding-top:10px;
	clear:both;
}

.pingfen{
	clear:both;
	padding-left:10px;
	
}

.pingfen p{
	padding-top:10px;
}


.font_pingfen1{
	color:#949494;
	font-weight:bold;
	float:left;
	font-size:14px;
}

.font_pingfen2{
	color:#22cacc;
	font-weight:bold;
	margin-left:40px;
	font-size:14px;
	
}

.infor_play{
	margin-left:50px;
	margin-top:10px;
	width:100px;
	padding:10px 0px;
	text-align:center;
	background-color:#22cacc;
	color:#FFF;
	font-weight:bold;
	display:block;
}

.infor_play:hover{
	background-color:#22b5b7  !important;
}
.tell {
	background-color:#f9f9f9;
	color:#22cacc;
	text-align:center;
}
.tell1 {
	padding-top:30px;
	font-size:40px;
}
.tell2 {
	padding-top:25px;
	padding-bottom:10px;
}
